body{
    background-color:#0B1340;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    color: #2B4EFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 100px;
    width: 400px;
    background-color: #2B4EFF;
    color: #162780;
}
#counter-header{
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#decrement, #increment {
    font-size: 4rem;
    cursor:pointer;
}
#counter-var{
    margin-left: 140px;
    margin-right: 140px;
    font-size: 4rem;
}
